@tailwind base;
@tailwind components;
@tailwind utilities;

/* RESET */

* {
  margin: 0px;
  padding: 0px;
}

:root {
  --title-font: "montserrat";
  --title-size: 40px;
  --text-font: "hind";
  --text-size: 16px;
  --main-line-lenght: 25ch;
  line-height: 1.5;
  box-sizing: border-box;
  letter-spacing: 0.1rem;
  --BackgroundColor: #f0f0f0;
  --MainColor: #183650;
  /*tables or cards titles color*/
  --color2: #183650;
  /*CTA colors*/
  --color3: #e77620;
  --border-radius: 18px;
  --box-shadow: 0 3px 7px var(--MainColor);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--title-font);
  font-weight: 500; /* ou 700 en bold */
}
p {
  font-family: var(--text-font);
  font-weight: 500; /* 700 possible en bold */
}
li,
a {
  list-style-type: none;
  text-decoration: none;
}

/* VARIABLES GLOBALES */
body {
  background-color: var(--BackgroundColor);
}

.colortest {
  color: var(--MainColor);
}
.colortest1 {
  color: var(--color2);
}
.colortest2 {
  color: var(--color3);
}
.text-center h1 {
  margin-top: 5rem;
}

.ChatPage {
  justify-content: space-around;
}


.chat-window {
  width: 300px;
  height: 420px;
}

.chat-window .chat-header {
  height: 45px;
  -webkit-border-radius: 5px 5px 0px 0px;
  border-radius: 5px 5px 0px 0px;
  background: rgb(232, 151, 89);
  position: relative;
}
.chat-window .chat-header p {
  display: block;
  padding: 0 1em 0 2em;
  color: white;
  font-weight: 700;
  line-height: 45px;
}
.chat-window .chat-body {
  height: calc(450px - (45px + 70px));
  border: 1px solid #263238;
  background: #fff;
  position: relative;
}
.chat-window .chat-body .message-container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}
.chat-window .chat-body .message-container::-webkit-scrollbar {
  display: none;
}
.chat-window .chat-body .message {
  height: auto;
  padding: 10px;
  display: flex;
}
.chat-window .chat-body .message .message-content {
  width: auto;
  height: auto;
  min-height: 40px;
  max-width: 120px;
  background-color: #43a047;
  border-radius: 5px;
  color: white;
  display: flex;
  align-items: center;
  margin-right: 5px;
  margin-left: 5px;
  padding-right: 5px;
  padding-left: 5px;
  overflow-wrap: break-word;
  word-break: break-word;
}
#you {
  justify-content: flex-end;
}
#you .message-content {
  justify-content: flex-end;
}
#you .message-meta {
  justify-content: flex-end;
  margin-left: 5px;;
}
#other {
  justify-content: flex-start;
}
#other .message-content {
  justify-content: flex-start;
  background-color: cornflowerblue;
}
#other .message-meta {
  justify-content: flex-start;
  margin-right: 5px;
}
.message-meta #author {
  margin-left: 10px;
  font-weight: bold;
}
.chat-window .chat-body .message .message-meta {
  display: flex;
  font-size: 12px;
}
.chat-window .chat-footer {
  height: 40px;
  border: 1px solid #263238;
  -webkit-border-radius: 0px 0px 5px 5px;
  border-radius: 0px 0px 5px 5px;
  display: flex;
}
.chat-window .chat-footer input {
  height: 95%;
  border: 0;
  padding: 0 0.7em;
  font-size: 1em;
  border-right: 1px dotted #607d8b;
  outline: none;
  font-family: "Open Sans", sans-serif;
}
.chat-window .chat-footer button {
  border-style: none;
  border-left: 2px solid black;
  display: grid;
  place-items: center;
  cursor: pointer;
  flex: 15%;
  height: 100%;
  outline: none;
  font-size: 1rem;
  color: var(--dark);
}
.chat-window .chat-footer button:hover {
  color: #43a047;
}
.hide {
  opacity: 0 !important;
}