@tailwind base;
@tailwind components;
@tailwind utilities;

/* RESET */

* {
  margin: 0px;
  padding: 0px;
}

:root {
  --title-font: "montserrat";
  --title-size: 40px;
  --text-font: "hind";
  --text-size: 16px;
  --main-line-lenght: 25ch;
  line-height: 1.5;
  box-sizing: border-box;
  letter-spacing: 0.1rem;
  --BackgroundColor: #F0F0F0;
  --MainColor: #183650;
  /*tables or cards titles color*/
  --color2: #183650;
/*CTA colors*/
  --color3: #E77620;
  --border-radius: 18px;
  --box-shadow: 0 3px 7px var(--MainColor);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--title-font);
  font-weight: 500; /* ou 700 en bold */
}
p {
  font-family: var(--text-font);
  font-weight: 500; /* 700 possible en bold */
}
li,
a {
  list-style-type: none;
  text-decoration: none;
}

/* VARIABLES GLOBALES */
body {
  background-color: var(--BackgroundColor);
}

.colortest {
  color: var(--MainColor);
}
.colortest1 {
  color: var(--color2);
}
.colortest2 {
  color: var(--color3);
}

.mx-4{
  background-color: whitesmoke;
}